<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>CIAOBRAND</title>
<meta name="keywords" content=""/>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
	<div class="contentbox">
		<header>
			<div id="header">
				<h1><a href="/">CIAOBRAND</a></h1>
				<a href="javascript:;" class="changelanguage">English</a>
			</div>
		</header>
	</div>
	<div class="container">
		<div class="contentbox">
			<div class="navigation">
				<ul>
					<li class="index">about ciaobrand</li>
					<li><a href="/design">ciao design</a></li>
					<li class="first">
						<p class="bottom">collections</p>
						<ul class="second">
							<li class="one"><a href="/collections/bags">hand bags</a></li>
							<li class="two"><a href="/collections/wallets">wallets</a></li>
							<li class="three"><a href="/collections/accessories">accessories</a></li>
						</ul>
					</li>
					<li><a href="/goddess">ciao's goddess</a></li>
					<li><a href="/contact">contact us</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="corner">
					<img src="/images/about/ads.jpg">
				</div>
				<div class="aboutus">
					<div class="box">
						<p>All brands of fashions have their own unique spirit and distinctive characters. There is no exception for CIAOBRAND!</p>
						<p>The birth of CIAOBRAND was the direct result of affection and desires towards freedom of life.</p>
						<p>CIAOBRAND are also working closely with many other genius Italian designers. We are not only follow the trend, we created them. We will have more and more exceptional designs and products to come soon. </p>
						<p>As a brand designed by Italian artists and leader of the fashion trend, we are focus on creating new fashions for you. The exclusive design, top quality material selected and the impeccable workmanship, all of that has created the gene of this elite fashion product for you!  </p>
					</div>
					<div class="box">
						<p class="designer"><img src="/images/about/designer.jpg"/></p>
						<p>Our chief art designer Cornalis Jessica is an open-minded professional designer who appreciates freedom, obsessed on travelling around the world.</p>
						<p>Graduated from Bologna Next Fashion School in Italy, which is part of Milan fashion community and there are so many spot lights of fashion and trend born here each year, Cornalis Jessica lives in the Bologna town with half of her time busy at travelling the world to get touch with the nature, to comprehend all amazing cultures and customs of the world.    </p>
						<p>Cornalis Jessica is roaming around the world relentlessly with her admiral of freedom and uncompromised life style. She loves to create and in fact many her works are inspired by her natural encounters.</p>
						<p>CIAO BELLA, the first series that Jessica designed for CIAOBRAND, is a design of northern European style with simplicity and innovative. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contentbox">
		<footer>
			<div id="footer">
				<p>@2015 CIAOBRAND</p>
			</div>
		</footer>
	</div>
	<script src="/javascript/jquery-1.7.1.min.js"></script>
	<script src="/javascript/common.js"></script>
</body>
</html>