<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>CIAOBRAND</title>
<meta name="keywords" content=""/>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/contactus.css">
</head>
<body>
	<div class="contentbox">
		<header>
			<div id="header">
				<h1><a href="/">CIAOBRAND</a></h1>
				<a href="javascript:;" class="changelanguage">English</a>
			</div>
		</header>
	</div>
	<div class="container">
		<div class="contentbox">
			<div class="navigation">
				<ul>
					<li><a href="/about">about ciaobrand</a></li>
					<li><a href="/design">ciao design</a></li>
					<li class="first">
						<p class="bottom">collections</p>
						<ul class="second">
							<li class="one"><a href="/collections/bags">hand bags</a></li>
							<li class="two"><a href="/collections/wallets">wallets</a></li>
							<li class="three"><a href="/collections/accessories">accessories</a></li>
						</ul>
					</li>
					<li><a href="/goddess">ciao's goddess</a></li>
					<li class="index">contact us</li>
				</ul>
			</div>
			<div class="content">
				<div class="corner">
					<img src="/images/contact/ad_L.jpg">
				</div>
				<div class="contact">
					<p class="ins"><span>Instagram:</span>ILOVECIAOBRAND</p>
					<p class="ow"><span>Official website:</span><a href="http://www.ciaobrand.it">www.ciaobrand.it</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="contentbox">
		<footer>
			<div id="footer">
				<p>@2015 CIAOBRAND</p>
			</div>
		</footer>
	</div>
	<script src="/javascript/jquery-1.7.1.min.js"></script>
	<script src="/javascript/common.js"></script>
</body>
</html>