.collections h2{
	font-size: 18px;
	margin-left: 20px;
}
 .lists{
	margin: 20px 10px 0 10px;
}
.lists li{
	width: 150px;
	position: relative;
	float: left;
	margin: 10px;
	cursor: pointer;
}
.lists .img{
	position: relative;
	border: 1px solid #f5f5f5;
}
 .lists .border{
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
	right: 2px;
	border: 2px solid #f5f5f5;
}
 .lists li .desc{
	display: none;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 10px;
	background-color: rgba(255,255,255,.8);
}
.lists li .desc .name{
	font-size: 12px;
	line-height: 14px;
	color: #666;
	margin-bottom: 10px;
}
.lists li .desc .price{
	color: #000;
	font-size: 12px;
}
.lists li:hover .desc{
	display: block;
}
.lists li:hover .img{
	border: 1px solid #242424;
}
 .lists li:hover .border{
	border: 2px solid #242424;
}
.handbags_product{
	position: absolute;
	top: -24px;
	width: 780px;
	z-index: 10;
}
.handbags_product .left{
	top: -20px;
	left: 0px;
}
.handbags_product .product{
	overflow: hidden;
}
.handbags_product .product .img{
	padding: 40px;
	background-color: #fff;
	width: 284px;
	border:1px solid #242424;
	float: left;
	position: relative;
	height: 420px;
}
.handbags_product .product .img .border{
	position: absolute;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom:2px;
	border: 2px solid #242424;
}
.handbags_product .product .subcontent{
	float: left;
	width: 400px;
	margin-left: 10px;
}
.handbags_product .product .product_list ul{
	overflow: hidden;
}
.handbags_product .product .product_list ul li{
	float: left;
	margin: 10px;
	width: 80px;
	cursor: pointer;
}
.handbags_product .product .product_list ul li.checked img{
	border: 1px solid #242424;
}
.handbags_product .product .product_list ul li img{
	border: 1px solid #f5f5f5;
}
.handbags_product .product .subcontent .intro{
	padding-top: 40px;
	padding-left: 10px;
}
.handbags_product .product .subcontent .intro .style{
	color: #ccc;
	font-size: 12px;
}
.handbags_product .product .subcontent .intro .style span{
	color: #666;
}
.subcontent .brand{
	margin-top: 30px;
	margin-bottom: 80px;
}
.subcontent .brand .title{
	font-size: 18px;
	margin-bottom: 5px;
}
.subcontent .brand .name{
	color: #666;
	margin-bottom: 30px;
}
.subcontent .brand .size{
	color: #666;
	font-size: 12px;
	margin-bottom: 30px;
}
.subcontent .brand .price{
	font-size: 18px;
}
.popupContent{
	background-color: #fff;
}
.popupContent form div{
	padding: 10px 0;
}
.popupContent form div label{
	display: inline-block;
	width: 100px;
}
.popupContent form div input{
	height: 30px;
}